<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--//namespace表示命名空间-->
<mapper namespace="com.example.demo.mybatis.mapper.CategoryMapper">
   <update id="createProduct">
       create table product(
                c_id int primary key auto_increment,
                name varchar(50) not null,
                price double not null)
   </update>

    <update id="createCategory">
       create table category(
                c_id int not null,
                name varchar(50) not null
                )
   </update>
    <resultMap id="queryProduct" type="category">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="category_name" jdbcType="VARCHAR"/>
       <!-- //一对多查询-->
        <collection property="products"  ofType="product">
            <id column="c_id" property="id" jdbcType="VARCHAR" />
            <result column="p_name" property="name" jdbcType="VARCHAR" />
            <result column="price" property="price" jdbcType="VARCHAR" />

        </collection>
    </resultMap>
    <select id="queryProductList"  resultMap="queryProduct">
            select   c.name , c.id ,p.p_name ,p.price
            from category c left join product p on c.id = p.c_id
            /**/
    </select>

    <resultMap id="queryProduct2" type="product">
        <id column="c_id" property="id" jdbcType="INTEGER"></id>
        <result column="p_name" property="name" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryProductTable" resultMap="queryProduct2">
            select  c.c_id 'c_id', c.p_name 'name'
            from product c
    </select>
    <select id="findProduct"  parameterType="String"  resultType="product">
         select  c_id as id,price,p_name as name from product where p_name like CONCAT('%',#{pname},'%')

    </select>
</mapper>